<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dues</title>
</head>
<body>
  <h1>Dues</h1>

  <form action="/dues">

    <input type="number" name="roll_no" required>
    <br>
    <input type="radio" name="queryType" value="Add"> Add Dues
    <input type="radio" name="queryType" value="Check">Check Dues
    <br>
    <input type="submit" value="Submit">

  </form>

</body>
</html>
