<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    form{
      margin: 1%;
    }
  </style>
</head>
<body>
  <h1>Indian Institute Of Technology, Hamirpur</h1>

  

  <form action="/register">
    <input type="submit" value="Register Student">
  </form>



  <form action="/viewstudents">
    <input type="submit" value="View Students">
  </form>

  <form action="/paydues">
    <input type="submit" value="Pay Fee">
  </form>



</body>
</html> 